@model CourseManager.Models.CourseManagemants
@using CourseManager.Models
@{
    ViewBag.Title = "Create";
    var classe = (List<Classe>)ViewBag.Classe;
    var teachers = (List<Teachers>)ViewBag.Teachers;
    var course = (List<course>)ViewBag.course;
    
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CourseManagemants</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassId)
        </div>
        <div class="editor-field">
           <select name="classeId" class="form-control">
                @foreach (var Class in classe)
                {
                    <option value="@Class.Id">@Class.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseId)
        </div>
        <div class="editor-field">
           <select name="courseId" class="form-control">
                @foreach (var Course in course)
                {
                    <option value=" @Course.Id">@Course.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherId)
        </div>
        <div class="editor-field">
           <select name="teacherId" class="form-control">
                @foreach(var teacher in teachers){
                    <option value=" @teacher.Id">@teacher.Name</option>
                }
            </select>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


